:root {
  --bs-emphasis-color-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
.black-txt {
  color: #363636;
}
.white-txt {
  color: white;
}

img {
  width: 100%;
}

/*-------------------Header-------------------*/
.navbar {
  background-color: #2c3e50;
}
.hero-sec {
  background-color: #1abc9c;
}
.avatar-pic {
  width: 100%;
  max-width: 250px;
}
/* -------------------Main------------------- */

/* -------------------Footer------------------- */
